 .u-section-1 {
  background-image: url("../images/ghghhghg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 269px;
  --animation-custom_in-scale: 0.32;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 95px auto 0 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 13px rgba(112,43,177,0.45);
  width: 707px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 6rem;
  font-weight: 800;
  margin: -134px auto 0;
}

.u-section-1 .u-image-2 {
  width: 157px;
  height: 157px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -357px 14px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 626px;
  min-height: 77px;
  box-shadow: 5px 5px 20px 0 rgba(168,119,80,0.4);
  background-image: linear-gradient(#b47aec, #702bb1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.001;
  margin: 229px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-shadow: 2px 2px 8px rgba(112,43,177,0.4);
  width: 307px;
  font-weight: 700;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 38px auto 0;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 143px;
  height: 143px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 2px 45px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 200px;
  height: 156px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -167px auto 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
    animation-duration: 1000ms;
  }

  .u-section-1 .u-group-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -330px;
  }

  .u-section-1 .u-btn-6 {
    border-style: none none solid;
  }

  .u-section-1 .u-image-3 {
    margin-top: 67px;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 120px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 84px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -179px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 115px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-top: 57px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -300px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 65px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-2 {
    margin-top: -338px;
  }

  .u-section-1 .u-group-1 {
    min-height: 98px;
    margin-top: 166px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 38px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 2px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 729px;
}

.u-section-2 .u-text-1 {
  width: 814px;
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.6;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 407px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 120px;
  width: 120px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 377px;
  min-height: 128px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -120px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 120px;
  width: 120px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 377px;
  min-height: 128px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -120px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 120px;
  width: 120px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 377px;
  min-height: 128px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -120px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-2 .u-icon-4 {
  height: 120px;
  width: 120px;
  --animation-custom_in-scale: 0.71;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 377px;
  min-height: 128px;
  background-size: auto;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -120px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  text-align: left;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 60px;
}

.u-section-2 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 421px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-icon-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-group-1 {
    width: 290px;
    min-height: 136px;
    margin-top: -113px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-icon-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-group-2 {
    width: 290px;
    min-height: 136px;
    margin-top: -113px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-icon-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-group-3 {
    width: 290px;
    min-height: 136px;
    margin-top: -113px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-icon-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-group-4 {
    width: 290px;
    min-height: 136px;
    margin-top: -113px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -289px;
    margin-bottom: 323px;
  }

  .u-section-2 .u-btn-1 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 631px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 27px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-1 {
    min-height: 120px;
    width: 345px;
    margin-top: -120px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-2 {
    min-height: 120px;
    width: 345px;
    margin-top: -120px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-3 {
    min-height: 120px;
    width: 345px;
    margin-top: -120px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-group-4 {
    min-height: 120px;
    width: 345px;
    margin-top: -120px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 20px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 20px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 20px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 20px;
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1183px;
}

.u-section-3 .u-image-1 {
  width: 754px;
  height: 685px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0 80px;
}

.u-section-3 .u-image-2 {
  width: 664px;
  height: 644px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -606px auto 0 122px;
}

.u-section-3 .u-shape-1 {
  width: 115px;
  height: 115px;
  background-image: linear-gradient(to right, #ecbff9, #ffcca4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.49;
  margin: -316px 138px 0 auto;
}

.u-section-3 .u-list-1 {
  margin-top: 80px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 349px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: linear-gradient(#ffcca4, #ecbff9);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: linear-gradient(#ffcca4, #ecbff9);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-shape-2 {
  width: 186px;
  height: 186px;
  background-image: linear-gradient(to right, #ecbff9, #ffcca4);
  --animation-custom_in-scale: 0.57;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -972px 57px 0 auto;
}

.u-section-3 .u-text-9 {
  text-align: left;
  margin: 825px auto 60px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 32px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -635px;
    margin-left: 39px;
  }

  .u-section-3 .u-shape-1 {
    width: 88px;
    height: 88px;
    margin-top: -283px;
    margin-right: 56px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 103px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 288px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -1001px;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-top: 854px;
  }

  .u-section-3 .u-btn-1 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1452px;
  }

  .u-section-3 .u-image-1 {
    width: 627px;
    height: 574px;
    margin-top: 52px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 577px;
    height: 560px;
    margin-top: -574px;
    margin-left: 25px;
  }

  .u-section-3 .u-shape-1 {
    width: 72px;
    height: 72px;
    margin-top: -243px;
    margin-right: 11px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 109px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 662px;
  }

  .u-section-3 .u-shape-2 {
    width: 169px;
    height: 169px;
    margin-top: -1281px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 1151px;
    margin-bottom: -69px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1770px;
  }

  .u-section-3 .u-image-1 {
    height: 494px;
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 524px;
    margin-top: -494px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -524px;
    margin-right: auto;
    margin-left: 67px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 339px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1071px;
  }

  .u-section-3 .u-shape-2 {
    width: 127px;
    height: 127px;
    margin-top: -1591px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 1497px;
    margin-bottom: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1946px;
  }

  .u-section-3 .u-image-1 {
    height: 311px;
    margin-top: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 298px;
    width: 307px;
    margin-top: -329px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -328px;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 320px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1302px;
  }

  .u-section-3 .u-shape-2 {
    width: 103px;
    height: 103px;
    margin-top: -1782px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 1698px;
    margin-bottom: -78px;
  }
} .u-section-4 {
  background-image: url("../images/ghghhghg.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-4 .u-image-1 {
  width: 120px;
  height: 120px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 216px;
  height: 119px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1.73;
  margin: 117px 40px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 242px;
  height: 242px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.35;
  margin: -271px auto 0 431px;
}

.u-section-4 .u-group-1 {
  width: 545px;
  min-height: 529px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -103px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 15px 41px 16px 40px;
}

.u-section-4 .u-image-4 {
  width: 217px;
  height: 217px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -271px 184px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 309px;
  height: 245px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -16px auto 60px 211px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 61px;
  }

  .u-section-4 .u-image-2 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-top: 139px;
    margin-right: 41px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -319px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-image-4 {
    width: 211px;
    height: 237px;
    margin-right: 114px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -58px;
    margin-left: 228px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 202px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: -384px;
    margin-right: 153px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    width: 446px;
    min-height: 528px;
    margin-top: -109px;
  }

  .u-section-4 .u-image-4 {
    width: 227px;
    height: 248px;
    margin-top: -257px;
    margin-right: 70px;
  }

  .u-section-4 .u-image-5 {
    width: 285px;
    height: 226px;
    margin-top: -42px;
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 195px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -397px;
    margin-right: 42px;
  }

  .u-section-4 .u-group-1 {
    width: 351px;
    min-height: 556px;
    margin-top: -93px;
    margin-left: 36px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -278px;
    margin-right: -11px;
  }

  .u-section-4 .u-image-5 {
    width: 219px;
    height: 219px;
    margin-top: -41px;
    margin-bottom: 50px;
    margin-left: 136px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-4 .u-image-1 {
    width: 97px;
    height: 97px;
    margin-top: 53px;
  }

  .u-section-4 .u-image-2 {
    width: 141px;
    height: 109px;
    margin-top: -109px;
  }

  .u-section-4 .u-image-3 {
    width: 199px;
    height: 199px;
    margin-top: 23px;
    margin-right: -29px;
  }

  .u-section-4 .u-group-1 {
    min-height: 450px;
    width: 270px;
    margin-top: -79px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-4 {
    width: 128px;
    height: 138px;
    margin-top: 100px;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    width: 167px;
    height: 188px;
    margin-top: -308px;
    margin-bottom: 60px;
    margin-left: 53px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1076px;
}

.u-section-5 .u-shape-1 {
  height: 386px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#d3b1f4, #fbc6d9);
}

.u-section-5 .u-image-1 {
  width: 283px;
  height: 283px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.63;
  margin: -149px auto 0 calc(((100% - 1140px) / 2) + 138px);
}

.u-section-5 .u-group-1 {
  width: 539px;
  min-height: 590px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -316px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 60px;
}

.u-section-5 .u-image-2 {
  width: 213px;
  height: 227px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -73px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 34px 0 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 500;
  margin-left: auto;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 17px 38px 18px 37px;
}

.u-section-5 .u-image-3 {
  width: 188px;
  height: 162px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1.29;
  margin: -60px auto 0 calc(((100% - 1140px) / 2) + 37px);
}

.u-section-5 .u-image-4 {
  width: 305px;
  height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -35px calc(((100% - 1140px) / 2) + 213px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1057px;
  }

  .u-section-5 .u-shape-1 {
    height: 338px;
  }

  .u-section-5 .u-image-1 {
    width: 233px;
    height: 259px;
    margin-top: -118px;
    margin-left: calc(((100% - 940px) / 2) + 68px);
  }

  .u-section-5 .u-group-1 {
    width: 511px;
    margin-top: -259px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-image-3 {
    width: 147px;
    height: 127px;
    margin-left: calc(((100% - 940px) / 2) + 37px);
  }

  .u-section-5 .u-image-4 {
    margin-top: 0;
    margin-right: calc(((100% - 940px) / 2) + 213px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1061px;
  }

  .u-section-5 .u-image-1 {
    width: 221px;
    height: 197px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 430px;
    margin-top: -274px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-3 {
    width: 145px;
    height: 125px;
    margin-top: -54px;
    margin-left: calc(((100% - 720px) / 2) + 37px);
  }

  .u-section-5 .u-image-4 {
    margin-top: 5px;
    margin-right: calc(((100% - 720px) / 2) + 156px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1151px;
  }

  .u-section-5 .u-shape-1 {
    height: 460px;
  }

  .u-section-5 .u-image-1 {
    width: 153px;
    height: 153px;
    margin-top: -400px;
    margin-right: calc(((100% - 540px) / 2) + 34px);
    margin-left: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: 60px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 34px;
    margin-left: calc(((100% - 540px) / 2) + 40px);
  }

  .u-section-5 .u-image-4 {
    width: 269px;
    height: 106px;
    margin-top: -11px;
    margin-right: calc(((100% - 540px) / 2) + 34px);
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 150px;
    height: 150px;
    margin-top: -408px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 313px;
    min-height: 608px;
    margin-top: 82px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-2 {
    width: 178px;
    height: 189px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 40px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 21px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-4 {
    width: 201px;
    height: 59px;
    margin-top: 14px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 40px;
  }
} .u-section-6 {
  background-image: url("../images/jhjjj-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 573px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 334px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 58deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 40px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 334px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.56;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 40px 30px 30px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-text-3 {
  text-align: left;
  margin: 20px auto 0 0;
}

.u-section-6 .u-btn-1 {
  padding: 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 28px;
  min-height: 16px;
  width: 193px;
  min-width: 145px;
  margin: 20px 276px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 422px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-6 .u-btn-1 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    background-position: 16.5% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 327px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    background-position: 14.25% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 347px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 7.53% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 178px;
    margin-bottom: 40px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1297px;
}

.u-section-7 .u-shape-1 {
  width: 847px;
  height: 713px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 112px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 185px;
  height: 218px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 351deg;
  --animation-custom_in-scale: 1;
  margin: -304px 136px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 312px;
  height: 333px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -703px auto 0 0;
}

.u-section-7 .u-image-3 {
  width: 338px;
  height: 338px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 276px 333px 0 auto;
}

.u-section-7 .u-image-4 {
  width: 248px;
  height: 248px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -890px 0 0 auto;
}

.u-section-7 .u-form-1 {
  height: 516px;
  background-image: none;
  margin: -11px 457px 0 91px;
}

.u-section-7 .u-form-group-4 {
  margin-left: 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 31px 15px 29px;
}

.u-section-7 .u-text-1 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  margin: 61px 713px 0 0;
}

.u-section-7 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-7 .u-image-5 {
  width: 268px;
  height: 148px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1.73;
  --animation-custom_in-translate_y: 0px;
  margin: 56px auto -17px 35px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-7 .u-shape-1 {
    height: 695px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: -334px;
    margin-right: 63px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -681px;
    margin-left: 44px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 247px;
    margin-right: 281px;
  }

  .u-section-7 .u-image-4 {
    margin-top: -875px;
  }

  .u-section-7 .u-form-1 {
    height: 521px;
    margin-top: -12px;
    margin-right: 406px;
    margin-left: 0;
  }

  .u-section-7 .u-text-1 {
    margin-right: 513px;
  }

  .u-section-7 .u-image-5 {
    margin-top: 33px;
    margin-bottom: -41px;
    margin-left: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-7 .u-shape-1 {
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -336px;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    width: 282px;
    height: 300px;
    margin-top: -643px;
    margin-left: 30px;
  }

  .u-section-7 .u-image-3 {
    width: 293px;
    height: 293px;
    margin-top: 282px;
    margin-right: 151px;
  }

  .u-section-7 .u-image-4 {
    width: 231px;
    height: 231px;
    margin-top: -868px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 6px;
    margin-right: 259px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 293px;
  }

  .u-section-7 .u-image-5 {
    height: 116px;
    margin-bottom: -7px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-7 .u-shape-1 {
    width: 510px;
    height: 532px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7 .u-image-1 {
    width: 142px;
    height: 168px;
    margin-top: 281px;
    margin-right: 54px;
  }

  .u-section-7 .u-image-2 {
    width: 240px;
    height: 256px;
    margin-top: -1205px;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: 367px;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    margin-top: -1051px;
    margin-right: 39px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 203px;
    margin-right: 79px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-right: 113px;
  }

  .u-section-7 .u-image-5 {
    height: 115px;
    margin-top: 79px;
    margin-bottom: -164px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-7 .u-shape-1 {
    width: 328px;
    height: 400px;
    margin-top: 276px;
  }

  .u-section-7 .u-image-1 {
    height: 167px;
    margin-top: 468px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-7 .u-image-2 {
    width: 170px;
    height: 181px;
    margin-top: -1104px;
  }

  .u-section-7 .u-image-3 {
    width: 170px;
    height: 170px;
    margin-top: 550px;
  }

  .u-section-7 .u-image-4 {
    width: 172px;
    height: 162px;
    margin-top: -1036px;
    margin-right: -2px;
  }

  .u-section-7 .u-form-1 {
    margin-top: 138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-7 .u-image-5 {
    width: 138px;
    height: 54px;
    margin-top: 54px;
    margin-bottom: 60px;
  }
}