
*{
    padding: 0;
    margin: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.center{
    width: 1250px;
    margin: 0 auto;
}
.top{
    height: 42px;
}
.l{
    float: left;
}
.r{
    float: right;
}
.m-l{
    margin-left: 50px;
}
.m-r{
    padding-top: 10px;
}
.m-r a{
    margin-right: 15px;
    color: #333;
    font-weight: bold;
}
.l-ul{

    list-style-type: none;
    line-height: 42px;
    margin-bottom: 0;
    margin-left: 80px;
}
.r-ul{
    list-style-type: none;
    line-height: 42px;
    margin-bottom: 0;
    margin-right: 80px;
}
.r-ul li{
    float: right;
}
.l-ul li{
    float: left;
}
.l-ul li a{
    text-decoration: none;
    color: #000;
    width: 100px;
    height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    top:2px;
}

.l-ul li a:hover{
    background: #fff;

}
.l-ul li a img{
    margin-right: 5px;
}
.r-ul li a{
    text-decoration: none;
    color: #000;
    width: 100px;
    height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    top:2px;
}

.r-ul li a:hover{
    background: #fff;

}
.r-ul li a img{
    margin-right: 5px;
}
.middle{
    height: 80px;
    padding-top: 20px;
}
.customer{
    display: inline-block;
    width: 180px;
    height: 50px;
    margin-right: 35px;
    background: linear-gradient(90deg,#64a0d9,#336798) !important;
    border-radius: 8px;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
    color: red;
}
.customer:hover{
	text-decoration:none;
	background: linear-gradient(45deg,#f7ca8d,#df8509) !important;
	color: #fff;
}
.desktop{
    display: inline-block;
    width: 180px;
    height: 50px;
    margin-right: 35px;
    background: linear-gradient(90deg,#64a0d9,#336798) !important;
    border-radius: 8px;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
    color: #fff;
}
.desktop:hover{
	text-decoration:none;
	background: linear-gradient(45deg,#f7ca8d,#df8509) !important;
	color: #fff;
}
.dd{
	background: linear-gradient(45deg,#f7ca8d,#df8509) !important;
	color: #fff;
}
.down{
    height: 85px;
    line-height: 85px;
}
.nav-left{
    border-top: 2px solid #ccc;
    width: 43%;
    height: 62px;

}

.nav-left ul, .nav-right ul{
    list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-left li{
    float: left;
}
.nav-right{
    border-top: 2px solid #ccc;
    width: 43%;
    list-style-type: none;
    height: 62px;
}
.nav-right li{
    float: left;
}
.nav-left li span{
    display: inline-block;
    height: 62px;
    width: 2px;
    background: #ccc;
    transform: rotate(-25deg);
    position: relative;
    left: 14px;
    top: -3px;
}
.nav-right li span{
    display: inline-block;
    height: 62px;
    width: 2px;
    background: #ccc;
    transform: rotate(25deg);
    position: relative;
    left: -14px;
    top: -3px;
}
.down a{
    text-decoration: none;
    color: #000;
    padding: 6px 15px;
}
.down a:hover{
    background: #fdc60c;
    color: #ff0000;
    border-bottom: 1px solid #333 ;
}
.logo{
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -70px;
}
.notice{
    font-size: 18px;
    font-weight: bold;
    color: #d43f3a;
    margin-top: 15px;
}
.plat-item-1,.plat-item-2,.plat-item-3{
    /* margin-top: 0px; */
}
.plat-item-1>.plat-item-top{
    width: 100%;
    height: 50px;
    background: #ff868b;
    position: relative;
}
.plat-item-1>.plat-item-top h2{
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
}
.plat-item-1 .plat-item-top>.plat-top-bg-1{
    width: 14px;
    height: 19px;
    background: url("images/plat-top-1.png");
    position: absolute;
    display: inline-block;
    right: 1px;
    bottom: -18px;
}
.plat-item-1 .plat-item-content{
    position: relative;
    top: -1px;
    border: 1px solid #9a9a9a;
    margin-right: 14px;
}
.plat-item-1 .plat-item-content h2{
    font-weight: bold;
    color: #f76a70;
}
.plat-item-1 .link-box{
    padding: 10px;
    /* margin-bottom: 20px; */
}
.plat-item-1 .plat-logo{
    margin: 34.5px auto;
    text-align: center;
}


    /* æ ‡é¢˜èƒŒæ™¯é¢œè‰²; */
.plat-item-2>.plat-item-top{
    width: 100%;
    height: 50px;
    background: #336798;
    position: relative;
}
.plat-item-2>.plat-item-top h2{
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
  margin-top: 20px;
}
.plat-item-2 .plat-item-top>.plat-top-bg-1{
    width: 14px;
    height: 19px;
    background: url("../images/plat-top-2.png");
    position: absolute;
    display: inline-block;
    right: 1px;
    bottom: -18px;
}
.plat-item-2 .plat-item-content{
    position: relative;
    top: -1px;
    border: 1px solid #9a9a9a;
    margin-right: 14px;
}
.plat-item-2 .plat-item-content h2{
    font-weight: bold;
    color: #de4844;
}
.plat-item-2 .link-box{
    padding: 10px;
    /* margin-bottom: 20px; */
}
.plat-item-2 .plat-logo{
    margin: 34.5px auto;
    text-align: center;
}


.plat-item-3>.plat-item-top{
    width: 100%;
    height: 50px;
    background: #fda13e;
    position: relative;
}
.plat-item-3>.plat-item-top h2{
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: bold;

}
.plat-item-3 .plat-item-top>.plat-top-bg-1{
    width: 14px;
    height: 19px;
    background: url("images/plat-top-3.png");
    position: absolute;
    display: inline-block;
    right: 1px;
    bottom: -18px;
}
.plat-item-3 .plat-item-content{
    position: relative;
    top: -1px;
    border: 1px solid #9a9a9a;
    margin-right: 14px;
}
.plat-item-3 .plat-item-content h2{
    font-weight: bold;
    color: #fda13e;
}
.plat-item-3 .link-box{
    padding: 10px;
    /* margin-bottom: 20px; */
}
.plat-item-3 .plat-logo{
    margin: 34.5px auto;
    text-align: center;
}
.foot{
    margin-top: 100px;
}
.foot-buttom{
    width: 100%;
    height: 50px;
    background: #000;
}
.foot-top{
    width: 100%;
    background: #313131;
    padding-top: 28px;
    padding-bottom: 20px;
}
.foot-top dl dt{
    color:#f7ff00;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
}
.foot-top dl dd{
    margin-bottom: 10px;
}
.foot-top dl dd a{
    color:#fff;
    font-size: 14px;
}
.broadside{
    position: fixed;
    left: 100px;
    top:50%;
    margin-top: -68px;

}
.m-foot{
    color: #ababab;
    text-align: center;
    margin:40px 0;
    display: none;
}
#reg-modal .modal-dialog,#login-modal .modal-dialog,#activity-modal .modal-dialog,#app-modal .modal-dialog{
    margin-top:200px;
}
.m-middle{
    display: none;
}
#myCarousel{
    display: block;
}
#m-myCarousel{
    display: none;

}
.m-logo{
    background: #000;
    text-align: center;
    display: none;
}
.sidebar-box-l{
    position: fixed;
    left: 100px;
    top: 50%;
}
.sidebar-box-r{
    position: fixed;
    right: 100px;
    top: 50%;
}
.sidebar-l{
    width: 140px;
}
.sidebar-r{
    width: 140px;
}
.sidebar-l-1{
    width: 140px;
    height: 215px;
    background: url("images/sidebar-1.png") no-repeat;
    margin-bottom: 10px;
}
.sidebar-r-1{
    width: 140px;
    height: 215px;
    background: url("images/sidebar-2.png") no-repeat;
    margin-bottom: 10px;
}
.sidebar-l-1-link{
    padding-top: 107px;
}
.sidebar-r-1-link{
    padding-top: 107px;
}
.sidebar-l-1 a{
    display: block;
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.sidebar-r-1 a{
    display: block;
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}
.sidebar-2-top{
    width: 100%;
    height: 360px;
    position: relative;
}
.sidebar-2-top a{
    position: absolute;
    color: #fff !important;
    font-size: 25px;
    font-weight: bold;
    bottom: 10px;
    left: 2px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.sidebar-2-link{
    display: block;
    width: 100%;
    height: 136px;
    background: url("images/sidebar-foot.png");
}
.sidebar-r-top{
    width: 100%;
    height: 360px;
    position: relative;
}
.sidebar-r-top a{
    position: absolute;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    bottom: 5px;
    left: 2px;
    width: 100%;
    text-align: center;
}
.sidebar-r-link{
    display: block;
    width: 100%;
    height: 136px;
    background: url("images/sidebar-foot.png");
}
.sidebar-2-close,.sidebar-close{
    display: block;
    width: 77px;
    height: 23px;
    margin: 0 auto;
    text-align: center;
    background: #C22424;
    color: #fff;
    cursor: pointer;
    background: url("images/close.png");
}
.sidebar-close-1{
    display: block;
    width: 78px;
    height: 22px;
    margin: 0 auto;
    text-align: center;
    background: #C22424;
    color: #fff;
    cursor: pointer;
    background: url("images/close2.png");
}
@media screen and (max-width: 1200px) {
    .ad_pic{
        width: 93%;
    }
    .sidebar-l,.sidebar-r{
        display: none;
    }
    .header{
        display: none;
    }
    .carousel-control{
        font-size: 5rem;
    }
    .container {
        width: 100% !important;
    }
    .plat-item-1>.plat-item-top,.plat-item-2>.plat-item-top,.plat-item-3>.plat-item-top {
        height: 40px !important;
        margin-top: 20px;
    }
    .plat-item-1>.plat-item-top h2,.plat-item-2>.plat-item-top h2,.plat-item-3>.plat-item-top h2{
        line-height: 40px !important;
    }
    h2{
        font-size: 1.5rem;
        margin: 0;
    }
    .btn{
        font-size: 1.2rem;
    }
    .plat-item-1 .plat-logo,.plat-item-2 .plat-logo,.plat-item-3 .plat-logo{
        margin: 8px auto;
    }
    .plat-item-1 .link-box,.plat-item-2 .link-box,.plat-item-3 .link-box{
        padding: 10px;
        /* margin-bottom: 10px; */
    }
    .broadside{
        display: none;
    }
    .foot{
        display: none;
    }
    .m-foot{
        display: block;
    }
    .m-nav{
        display: block;
    }
    .plat-logo img{
        max-width: 90%;
    }
    .middle{
        display: none;
    }
    .down{
        display: none;
    }
    .notice{
        font-size: 1.5rem;
    }
    .m-middle{
        display: block;
        text-align: center;
    }
    .m-middle a{
        color: #ff0000;
        font-size: 1.5rem;
		margin: 0 0.5rem;
    }
    .logo{
        display: none;
    }
    .m-logo{
        display: block;
    }
    #myCarousel{
        display: none;
    }
    #m-myCarousel{
        display: block;
    }
    .m-logo img {
        width: 40%;
    }
}
@media screen and (max-width: 320px){
    h2{
        font-size: 1.3rem;
    }
    .btn{
        font-size: 1rem;
    }
}
